.chat-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  .hide-chat {
    cursor: pointer;
    position: absolute;
    color: #312e2b;
    z-index: 1000;
    right: 0.4rem;
    top: 0.6rem;
  }
  ul {
    position: relative;
    background-color: hsla(0, 0%, 100%, 0.2);
    width: 100%;
    overflow: auto;
    margin: 0px;
    padding-left: 5px;
    list-style: none;
    height: 170px;
    min-height: 150px;
    scrollbar-color: rgba(0, 0, 0, 0.45) transparent;
    scrollbar-width: thin;
    .announce-new-game {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        margin-bottom: 0px;
        text-align: center;
      }
    }
    .game-message {
      color: #e6912c !important;
    }

    li {
      word-wrap: break-word;
      text-align: left;
      margin-top: 7px;
      color: hsla(0, 0%, 100%, 0.65);
      font-family: "Montserrat-Regular";
      span {
        font-family: "Montserrat-Bold";
      }
    }
  }

  .chat-input {
    flex-grow: 1;
    display: flex;
    width: 100%;
    input {
      word-break: break-all;
      border: none;
      width: 80%;
      font-size: 1.2rem;
      font-family: "Montserrat-Regular";
      color: hsla(0, 0%, 100%, 0.65);
      background-color: #312e2b;
      &:focus {
        outline: none;
      }
    }
    .send-btn {
      width: 20%;
      font-family: "Montserrat-Bold";
      border-radius: 0px !important;
      padding: 0 !important;
      background-color: hsla(0, 0%, 100%, 0.1);
      color: hsla(0, 0%, 100%, 0.65);
      &:hover {
        color: #26211b !important;
        background-color: white !important;
      }
    }
  }
}

.game-over {
  font-family: "Montserrat-Bold";
  margin: 0px;
}
