@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../../../Fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../../../Fonts/Montserrat-Regular.ttf");
}
//hsla(0,0%,100%,0.2)
.game-bar-controller {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.game-controller {
  .game-bar {
    height: 25% !important;
    min-height: 130px !important;
  }
  .button-container {
    .select-side-container {
      .draw-btn,
      .resign-btn {
        color: hsla(0, 0%, 100%, 0.65);
        background-color: hsla(0, 0%, 100%, 0.2);
        font-size: 1.2rem;
        &:hover:enabled {
          color: #26211b !important;
          background-color: white !important;
        }
      }
    }
    .time-select-container {
      .pause-btn {
        font-size: 1.2rem;
      }
    }
  }

  .exit-game {
    width: 100%;
    font-size: 1.2rem;
    font-family: "Montserrat-Bold";
    color: #db4437;
    margin-top: 17px;
    background-color: hsla(0, 0%, 100%, 0.2);
    &:hover:enabled {
      color: #26211b;
      background-color: white;
    }
    &:disabled {
      opacity: 0.65;
      color: #db4437;
      background-color: hsla(0, 0%, 100%, 0.2);
    }
  }
  .show-chat {
    margin-top: 17px;
    width: 100%;
    font-size: 1.2rem;
    font-family: "Montserrat-Bold";
  }
}
i {
  margin-right: 5px;
}
