@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../../../Fonts/Montserrat-Regular.ttf");
}
.board-container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 390px;
  min-width: 350px;
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  .player-area {
    display: flex;
    width: 100%;
    align-items: center;
    ::-webkit-scrollbar {
      width: 5px;
      background-color: transparent; /* or add it to the track */
    }
    ::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.45);
    }
    .captured-pieces {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 40px;
      flex-wrap: wrap;
      overflow: auto;
      scrollbar-color: rgba(0, 0, 0, 0.45) transparent;
      scrollbar-width: thin;
      p {
        margin: 0;
      }
    }
    .avatar-and-name {
      display: flex;
      justify-content: space-between;
      img {
        user-select: none;
        width: 40px;
        height: 40px;
      }
      .user-name {
        user-select: none;
        font-family: "Montserrat-Regular";
        color: hsla(0, 0%, 100%, 0.65);
        text-align: left;
        margin-left: 7px;
        max-width: 110px;
        min-width: 83px;
        // max-height: 27px;
        overflow: auto;
        scrollbar-color: rgba(0, 0, 0, 0.45) transparent;
        scrollbar-width: thin;
      }
    }
  }
}
