.invites-list {
  position: absolute;
  top: 100%;
  right: 3%;
  background-color: transparent;
  z-index: 1000;
  li {
    border-radius: 0.25rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-top: 17px;
    padding: 10px;
    .image-container {
      width: 2.5rem;
      img {
        width: 100%;
      }
    }
    .name-and-btn-container {
      display: flex;
      flex-direction: column;

      p {
        span {
          font-family: "Montserrat-Bold";
        }
        text-align: left;
        font-family: "Montserrat-Regular";
        font-size: 1rem;
        color: black;
        padding-left: 5px;
        margin-bottom: 3px;
      }
      .btn-container {
        display: flex;
        justify-content: space-around;

        .accept-invite {
          background-color: #dbd9d7;
          color: #666463;
          padding: 7px !important;
          font-size: 0.9rem;
          &:hover {
            background-color: #bfbeba;
            color: #666463;
          }
        }
        .decline-invite {
          padding: 7px !important;
          background-color: #e6912c;
          color: white;
          font-size: 0.9rem;
          &:hover {
            background-color: #d37e19;
          }
        }
      }
    }
  }
}
