@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../../Fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../../Fonts/Montserrat-Bold.ttf");
}
.verify-email-note {
  position: absolute;
  top: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #608ba7;
  .hide-note {
    cursor: pointer;
    position: absolute;
    color: #312e2b;
    z-index: 1000;
    right: 0%;
    top: 3%;
  }
  a {
    font-family: "Montserrat-Bold";
    color: #e6912c;
    &:hover {
      color: #0056b3;
    }
  }
  p {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    font-family: "Montserrat-Regular";
    font-size: 17px;
    color: white;
  }
}
