@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  height: 100%;
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    background-color: #312e2b;
    color: #312e2b;
    #root {
      height: 100%;
    }
  }
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.45);
}
