.play-with-friend-container {
  width: 338px;
  align-self: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .players-pending {
    position: static;
    max-height: 13rem;
    background-color: #312e2b;
    li {
      position: relative;
      div {
        width: 25px;
        img {
          width: 100%;
        }
      }
      .fa-times {
        position: absolute;
        top: 3%;
        right: 0.1%;
        font-size: 0.9rem;
        color: #8c8a88;
        cursor: pointer;
      }
      p {
        font-size: 0.9rem;
        color: rgba(255, 255, 255, 0.65);
      }
      .pending {
        animation: pending 1s linear 0s infinite;
        animation-fill-mode: both;
        text-align: right;
      }
      .decline {
        text-align: right;
        color: var(--danger);
      }
      @keyframes pending {
        0% {
          color: rgba(255, 255, 255, 0.65);
        }
        50% {
          color: #312e2b;
        }
        100% {
          color: rgba(255, 255, 255, 0.65);
        }
      }
    }
  }

  .fa-arrow-left {
    position: absolute;
    top: 3%;
    left: 3%;
    cursor: pointer;
    color: hsla(0, 0%, 100%, 0.2);
    &:hover {
      color: hsla(0, 0%, 100%, 0.8);
    }
  }
  .btn-container {
    width: 100%;
    flex-basis: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .username-input {
      position: relative;
      border: 0.5px solid #dbd9d7;
      border-radius: 0.2rem;
      padding: 5px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      #player-name-search {
        border: none;
        font-family: "Montserrat-Regular";
        font-size: 1rem;
        line-height: 1.4;
        color: hsla(0, 0%, 100%, 0.65);
        background-color: transparent;

        &:focus {
          outline: none;
        }

        &::placeholder {
          font-size: 1rem;
        }
      }

      .invite {
        font-size: 1rem;
        background-color: hsla(0, 0%, 100%, 0.1);
        padding: 7px !important;
        color: hsla(0, 0%, 100%, 0.65);
        &:hover {
          color: #26211b !important;
          background-color: white !important;
        }
      }
      .fa-times {
        color: #8c8a88;
        cursor: pointer;
      }
      .fa-search {
        color: #8c8a88;
      }
    }
    .invite-link {
      margin-top: 12px;
      background-color: rgba(2, 1, 1, 0.18);
      width: 100%;
      font-size: 1.3rem;
      color: hsla(0, 0%, 100%, 0.7);
      &:hover {
        background-color: rgba(2, 1, 1, 0.1) !important;
        color: white;
      }
    }

    .link-container {
      position: relative;
      margin-top: 12px;
      display: flex;
      align-items: center;
      background-color: white;
      justify-content: center;
      border-radius: 0.2rem;
      width: 100%;
      padding-top: 7px;
      padding-bottom: 7px;
      .fa-times {
        position: absolute;
        top: 3%;
        right: 0%;
        cursor: pointer;
      }
      .link {
        border: 1px solid #312e2b;
        padding: 5px 8px 5px 8px;
        outline: none;
        color: #312e2b;
        font-family: "Montserrat-Regular";
        border-radius: 3px;
        font-size: 0.9rem;
      }
      .copy-link {
        background-color: transparent;
        font-family: "Montserrat-Bold";
        color: #3a729c;
      }
    }
  }
}

.copied {
  background-color: #343a40;
  color: hsla(0, 0%, 100%, 0.65);
  padding: 0.4rem;
  border-radius: 0.2rem;
}

.players-list {
  position: absolute;
  top: 100%;
  padding: 0px;
  overflow: auto;
  max-height: 14rem;
  width: 100%;
  background-color: white;
  scrollbar-color: rgba(0, 0, 0, 0.45) transparent;
  scrollbar-width: thin;
  li {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #6c757d;
    padding: 10px;
    cursor: pointer;
    .img-container {
      width: 33px;
      img {
        width: 100%;
      }
    }
    p {
      flex-grow: 1;
      text-align: left;
      font-family: "Montserrat-Regular";
      font-size: 1rem;
      color: black;
      padding-left: 5px;
      margin: 0px;
    }
    .status span {
      display: inline-block;
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 100%;
    }
  }
}
